torch
torch-summary
opencv-python
torch-summary
opencv-python
pandas
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib

-e .
#https://docs.google.com/uc?export=download&id=1LIrfT-QLczlGXFI_ph6W81NsKOY2xuZR
